<%= form_with model: character, url: create_character_path  do |form| %>
  <div class="row">
    <div class="col-md-7">
      <div class="mb-1">
        <%= form.label :name, class: "form-label fs-5 fw-bold" %>
        <%= form.text_field :name, class: "form-control"%>
      </div>

      <div class="mb-1">
        <%= form.label :japanese_name, class: "form-label fs-5 fw-bold"%>
        <%= form.text_field :japanese_name, class: "form-control"%>
      </div>

      <div class="mb-1">
        <%= form.label :image, class: "form-label fs-5 fw-bold"%>
        <%= form.file_field :image, class: "form-control"%>
      </div>

      <div class="mb-1">
        <%= form.label :nationality, class: "form-label fs-5 fw-bold"%>
        <%= form.text_field :nationality, class: "form-control"%>
      </div>

      <div class="mb-1">
        <%= form.label :catchphrase, class: "form-label fs-5 fw-bold"%>
        <%= form.text_field :catchphrase, class: "form-control"%>
      </div>

      <div class="mb-1">
        <%= form.label :family, class: "form-label fs-5 fw-bold"%>
        <%= form.text_field :family, class: "form-control"%>
      </div>

      <div class="mb-1">
        <%= form.label :chapter, class: "form-label fs-5 fw-bold"%>
        <%= form.text_field :chapter, class: "form-control"%>
      </div>
    </div>

    <div class="col-md-5">
      <div class="mb-2">
        <%= form.label "Alive", class: "form-label fs-5 fw-bold mr-3"%>

        <div class="d-flex gap-2 align-items-center">
          <%= form.label "Yes"%>
          <%= form.radio_button :living, true%>
          <%= form.label "No"%>
          <%= form.radio_button :living, false%>
        </div>
      </div>

      <div class="mb-2">
        <%= form.label "Human", class: "form-label fs-5 fw-bold"%>
        <div class="d-flex gap-2 align-items-center">
          <%= form.label "Yes"%>
          <%= form.radio_button :is_human, true%>
          <%= form.label "No"%>
          <%= form.radio_button :is_human, false%>
        </div>
      </div>

      <div class="my-3 d-flex flex-column justify-content-start border border-secondary rounded p-2">
        <%= form.label "Skills", class: "form-label text-center fs-4 fw-bold"%>
        <div style="max-height: 200px" class=" d-flex flex-column overflow-y-scroll">
          <div class="m-3">
            <%= form.collection_check_boxes :skill_ids, Skill.all, :id, :name do |b| %>
            <div class="p-2 d-flex gap-2 fs-5 align-items-center">
                <%= b.check_box class: "form-check-input mt-0 border border-primary" %>
                <%= b.label class:"text-secondary"%>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-1">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Back", characters_path, class: "btn btn-secondary" %>
  </div>
<%end %>