<%= turbo_stream.update "characters_frame" do %>
  <%= turbo_frame_tag "characters_frame" do %>
    <div class="p-3 container mt-5 d-flex flex-column flex-md-row gap-2 align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag @character.image, size: 500, class: "rounded" if @character.image.present?%>
      </div>

      <div class="d-flex flex-column gap-2 border border-secondary rounded p-5">
        <h3><%= @character.name %>'s Profile</h3>

        <div>
          <div class="d-flex gap-2">
            <p class="fw-bold">Name: </p>
            <span> <%= emptyStringHelper(@character.name)  %></span>
          </div>

          <div class="d-flex gap-2">
            <p class="fw-bold">Japanse name: </p>
            <span> <%= emptyStringHelper(@character.japanese_name)  %></span>
          </div>

          <div class="d-flex gap-2">
            <p class="fw-bold">Catchphrase: </p>
            <span> <%= emptyStringHelper(@character.catchphrase)  %></span>
          </div>

          <div class="d-flex gap-2">
            <p class="fw-bold">Abilities: </p>
            <div class="d-flex gap-2">
              <% if @character.skills.present? %>
                <% @character.skills.each do |skill| %>
                  <span><%= skill.name %></span>
                <%end%>
              <%else%>
                <span>No skills</span>
              <%end%>
            </div>
          </div>

          <div class="d-flex gap-2">
            <p class="fw-bold">Chapter: </p>
            <span> <%= emptyStringHelper(@character.chapter)  %></span>
          </div>

          <div class="d-flex gap-2">
            <p class="fw-bold">Family: </p>
            
            <span> <%= emptyStringHelper(@character.family)  %></span>
          </div>
          
          <div class="d-flex gap-2">
            <p class="fw-bold"> Is human: </p>
            <span> <%= emptyStringHelper(@character.is_human)  %></span>
          </div>
          
          <div class="d-flex gap-2">
            <p class="fw-bold">Alive: </p>
            <span> <%= emptyStringHelper(@character.living)  %></span>
          </div>

           <div class="d-flex gap-2">
            <%= link_to "Back", characters_path, class: "btn btn-secondary"%>
            <%= link_to "Delete", destroy_character_path(@character.id), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: true }%>
            <%= link_to "Edit", edit_character_path(@character.id), class: "btn btn-warning", data: {turbo_stream: true}%>
          </div>
        </div>
        
      </div>
      
    </div>
    
  <% end %>
<%end%>

